.text-anim {
  position: relative;
  -webkit-animation: myfirst 5s 2;
  -webkit-animation-direction: alternate;
  animation: myfirst 1s;
}

@keyframes myfirst {
  0%   {left: 100px; top: 0px;}
/*  25%  {background: yellow; left: 200px; top: 0px;}
  50%  {background: blue; left: 200px; top: 200px;}
  75%  {background: green; left: 0px; top: 200px;}*/
  100% {left: 0px; top: 0px;}
}