/* TEXT */

/*.slidetext1 {
  position: relative;
  animation: slide 10s linear forwards;
  animation-delay: 0s;
}

.slidetext2 {
  position: relative;
  animation: slide 10s linear forwards;
  animation-delay: 6s;
}

.slidetext3 {
  position: relative;
  animation: slide 10s linear forwards;
  animation-delay: 12s;
}*/

@keyframes slide {
  0%   {left: 100px; opacity: 0}
  15% {left: 20px;  opacity: 1}
  50%   {left: 20px; opacity: 1}
  60% {left: -1000px; opacity: 0; visibility: hidden;display: none;}
  100% {left: -1000px; opacity: 0; visibility: hidden;display: none;}
}

/*.slidetext1, .slidetext2, .slidetext3 {
	opacity: 0;
	position: absolute;
	margin-top: 300px
}*/




/* IMAGE */

/*.slideimg1 {
  animation: appear 1s linear forwards;
  animation-delay: 0s;
}

.slideimg2 {
  animation: appear 1s linear forwards;
  animation-delay: 6s;
}

.slideimg3 {
  animation: appear 1s linear forwards;
  animation-delay: 12s;
}*/

@keyframes appear {
  0%   {opacity: 0}
  100% {opacity: 1}
}

/*.slideimg1, .slideimg2, .slideimg3 {
	opacity: 0;
}
*/


table, th, td {
  border: 1px solid transparent;
}